include main.py
include CONTRIBUTING.md
recursive-include scripts *.py
recursive-include packaging *.spec *.txt
recursive-include tests *.py
recursive-include docs *.md *.png *.svg
recursive-include site *.html *.css *.js *.py *.xml
prune site/_build
